<?xml version="1.0"?>
<config>
   <default>
        <reviewrating>
            <section_one>
                <active_checkout>0</active_checkout>
                <active>0</active> 
                <active_home>0</active_home>
            </section_one>
            <section_two>
                <color_field_heading>F1F1F1</color_field_heading>
                <color_field_text>e4e4e4</color_field_text>
                <color_field_left>BABABA</color_field_left>
                <color_field_right>FFFFFF</color_field_right>
            </section_two>
            <section_three>
                <color_field_heading>F1F1F1</color_field_heading>
                <color_field_text>e4e4e4</color_field_text>
                <color_field_top>BABABA</color_field_top>
                <color_field_bottom>FFFFFF</color_field_bottom>
            </section_three>
        </reviewrating>
      </default>
  <modules>
    <Hestabit_ReviewRating>
      <version>0.1.0</version>
    </Hestabit_ReviewRating>
  </modules>
  <frontend>
    <routers>
      <reviewrating>
        <use>standard</use>
          <args>
            <module>Hestabit_ReviewRating</module>
            <frontName>reviewrating</frontName>
          </args>
      </reviewrating>
    </routers>
		<layout>
		  <updates>
			<reviewrating>
			  <file>reviewrating.xml</file>
			</reviewrating>
		  </updates>
		</layout>
  </frontend>
  <global>
  	<resources>
    <reviewrating_setup>
        <setup>
            <module>Hestabit_ReviewRating</module>
            <class>Hestabit_ReviewRating_Model_Resource_Setup</class>
        </setup>
        <connection>
            <use>core_setup</use>
        </connection>
    </reviewrating_setup>
</resources>


    <helpers>
      <reviewrating>
        <class>Hestabit_ReviewRating_Helper</class>
      </reviewrating>
    </helpers>
	<blocks>
	  <reviewrating>
		<class>Hestabit_ReviewRating_Block</class>
	  </reviewrating>
	</blocks>
	<models>
	  <reviewrating>
		<class>Hestabit_ReviewRating_Model</class>
		<resourceModel>reviewrating_mysql4</resourceModel>
	  </reviewrating>
	</models>
	 <events>
            <controller_front_init_routers>
                <observers>
                    <Hestabit_ReviewRating_model_observer>
                        <type>singleton</type>
                        <class>Hestabit_ReviewRating_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </Hestabit_ReviewRating_model_observer>
                </observers>
            </controller_front_init_routers>
            <controller_action_layout_load_before>
                <observers>
                    <Hestabit_ReviewRating_layout_load_before>
                    	<type>model</type>
                        <class>Hestabit_ReviewRating_Model_Observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </Hestabit_ReviewRating_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
  </global>
  <admin>
	<routers>
	  <reviewrating>
	    <use>admin</use>
		<args>
		  <module>Hestabit_ReviewRating</module>
		  <frontName>admin_reviewrating</frontName>
		</args>
	  </reviewrating>
	</routers>
  </admin>
  <adminhtml>
  	<acl>
    <resources>
        <all>
            <title>Allow Everything</title>
        </all>
        <admin>
            <children>
                <system>
                    <children>
                        <config>
                            <children>
                                <reviewrating translate="title" module="reviewrating">
                                    <title>Reviewrating Slider</title>
                                </reviewrating>
                            </children>
                        </config>
                    </children>
                </system>
            </children>
        </admin>
    </resources>
</acl>
    
	<layout>
	  <updates>
		<reviewrating>
		  <file>reviewrating.xml</file>
		</reviewrating>
	  </updates>
	</layout>
  </adminhtml>    
 <!--    <crontab>
        <jobs>            
			<reviewrating_reviewratingcron>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>reviewrating/cron::reviewratingcron</model></run>
            </reviewrating_reviewratingcron>
        </jobs>
    </crontab> -->
</config> 
